// 样式变量

// colors
$colors: (
  'primary': #db9e3f,
  'info': #4b67af,
  'white': #fff,
  'light': #f9f9f9,
  'light-1': #d4d9de,
  'grey': #999,
  'grey-1': #666,
  'dark-1': #343440,
  'black': #000,
  'dark': #222,
);

$base-font-szie: 1rem;
// font-size
$font-sizes: (
  xxs: 0.6154,
  xs: 0.7692,
  sm: 0.9231,
  md: 1,
  lg: 1.0769,
  xl: 1.2308,
);
$border-color: map-get($colors, 'light-1');
$flex-jc: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around,
);

$flex-ai: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'stretch': stretch
);

//spacing
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-base-size:  1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
$sprite-items: (
  'news': (63.546% 15.517%),
  'story': (90.483% 15.614%),
  'mall': (36.746% 0.924%),
  'experience': (10.408% 15.517%),
  'newcomer': (89.733% 1.266%),
  'inherited': (36.467% 15.287%),
  'colleague': (9.728% 1.266%),
  'camp': (63.3% 0.927%),
  'public': (0 96.207%),
  'version': (90.483% 15.614%),
)