// 样式重置
@import './variables';

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #999;
}

p {
  line-height: 1.5rem;
}

@each $key, $var in $colors {
  .text-#{$key} {
    color: $var
  }
  .bg-#{$key} {
    background-color: $var;
  }
}

//text-align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

@each $key, $var in $font-sizes {
  .fs-#{$key} {
    font-size: $var * $base-font-szie;
  }
}

// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}

@each $key, $var in $flex-jc {
  .jc-#{$key} {
    justify-content: $var;
  }
}

@each $key, $var in $flex-ai {
  .ai-#{$key} {
    align-items: $var;
  }
}

@each $typeKey, $type in $spacing-types {
  @each $directionKey,$direction in $spacing-directions {
    @each $sizeKey,$size in $spacing-sizes {
      // m-1
      .#{$typeKey}-#{$sizeKey} {
        #{$type}: $size * $spacing-base-size;
      }
      // mx-1
      .#{$typeKey}x-#{$sizeKey} {
        #{$type}-left: $size * $spacing-base-size;
        #{$type}-right: $size * $spacing-base-size;
      }
      .#{$typeKey}y-#{$sizeKey} {
        #{$type}-top: $size * $spacing-base-size;
        #{$type}-bottom: $size * $spacing-base-size;
      }
      // mt-1
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }

    }
  }
}

// button
.btn {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, 'sm') * $base-font-szie;
}

// nav
.nav {
  display: flex;
  .nav-item {
    padding-bottom: 0.2rem;
    // 未激活的也加边框，透明
    border-bottom: 3px solid transparent;
    &.active {
      color: map-get($colors, 'primary');
      border-bottom: 3px solid map-get($colors, 'primary');
    }
  }
  &.nav-inverse {
    .nav-item {
      color: map-get($colors, 'white');
      &.active {
        border-bottom-color: map-get($colors, 'white');
      }
    }
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%
}

// borders
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}

//sprite
.sprite {
  background: url(../images/index.png);
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-item {
    width: 1.7692rem;
    height: 1.5385rem;
  }
  // &.sprite-news {
  //   background-position: 63.546% 15.517%;
  // }
  &.sprite-arrow {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
  }
}
@each $key, $val in $sprite-items {
  .sprite-#{$key} {
    background-position: $val;
  }
}

// text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}